.hospital-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f9fafb;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 1rem;
  box-shadow: 3px 0 5px #7a7979;
  border-bottom: 2px solid #cecbcb;
}

.header-logo {
  display: flex;
  align-items: center;

  & .logo-icon {
    background: #2266ff;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
  }

  & .logo-text {
    padding: 0 1rem;

    & h1 {
      color: #2266ff;
      margin-bottom: 0;
      font-size: 1.8rem;
    }

    & p {
      color: #666;
      margin-top: 0;
      font-size: 1.1rem;
    }
  }
}

.header-content button {
  display: flex;
  align-items: center;
  background-color: #2266ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}